body {
   overflow-x: hidden; 
   font-family: HK Grotesk;
}

header {
  display:flex;
  align-items:center;
  background-color:#2c3e50;
  margin-top:-30px;
  height:auto;
  margin-left:-10px;
  padding:10px;
}

p {
  font-family:HK Grotesk;
  color:white;
}

.h1-white {
  display:flex;
  justify-content:center;
  margin-top: 50px;
  margin-bottom: 30px;
  color:white;
}

.h1-black {
  background-color:white;
  display:flex;
  margin:0;
  justify-content:center;
  margin-top: 80px;
}

.menus {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  margin-left:450px;
  align-items:center;
  gap:20px;  
}

.principal {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-color:#18bc9c;
  margin-left: -10px;
  padding: 80px;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
}

.profile {
  align-content:center;
  width:200px;
  height:200px;
  margin-top:100px;
}

.encabezado {
  color:white;
  display:flex;
  font-weight: bolder;
}

.header-tit {
  margin-left:80px;
  margin-top:50px;
}

.img {
  width:280px;
  height:200px;
  margin:20px;
}

.portfolio {
  background-color:white;
  display:flex;
  height:500px; 
  margin-bottom: 80px;
}

.container-portfolio {
  text-align: center;
}

.line, .line-w {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.line-left,
.line-right {
  display: inline-block;
  width: 70px;
  height: 4px;
  background-color: #2c3e50;
}

.linew-left,
.linew-right {
  display: inline-block;
  width: 70px;
  height: 4px;
  background-color: white;
}

.line-w i {
  color: white;
  font-size: 1.2rem;
}

.line i {
  color: #2c3e50;
  font-size: 1.2rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.container-about {
  background-color:#18bc9c;
  padding: 60px;
  margin-left: -10px;
}

.about {
  display:grid;
  grid-template-columns:auto auto;
  justify-content: center;
}

.about-p {
  display:flex;
  justify-content:center;
  width:300px;
}

.container-download-btn {
  display:flex;
  justify-content:center;
  align-content:center;
}

button {
  background-color:#18bc9c;
  color:white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  }

button:hover {
    background-color: #fff;
    color:#18bc9c;
    border: 2px solid #18bc9c;
 }
  
.contact {
  background-color:white;
  margin-left: -10px;
  text-align: center;
  margin-bottom: 60px;
}

.title-contact {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
  border: solid 1px black;
}

.footer {
  display: flex;
  justify-content:space-around;
  width: 100%;
  background-color:#2c3e50;
  margin-left:-10px;
  padding: 10px;
  font-family: HK Grotesk;
  gap: 40px;
}

.container-footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color:#2c3e50;
  margin-left:-10px;
  padding: 10px;
  font-family: HK Grotesk;
}

.container-icn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#icn-social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: solid 2px white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

